 @model SchoolLabb2.Models.Teacher
@{
    ViewData["Title"] = "Search";
}
<h1 class="display-4">Change teacher for this course</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Choose between current teachers</label>
                <select name="teacherId" class="form-control" asp-items="ViewBag.FkTeacherId">
                </select>
                <span asp-validation-for="TeacherFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choose from all the teachers</label>
                <select name="teacherId" class="form-control" asp-items="ViewBag.FkTeacherId">
                </select>
                <span asp-validation-for="TeacherFirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Confirm" class="btn btn-primary" />
                <a asp-controller="StudentInfo" asp-action="Search" class="btn btn-outline-primary">Return</a>
            </div>
        </form>
    </div>
</div>